.nav-menu ul li:first-child {
  position: relative;
}

.nav-menu .software-dropdown {
  line-height: 20px;
}

.software-dropdown {
  width: 870%;
  background: #eee;
  box-shadow: 0 0 10px #bbb;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.nav-menu ul li:first-child:hover .software-dropdown{
  display: block;
}

.dropdown-box-cont-1 {
  width: 30%;
  min-height: 100%;
  padding: 30px 0 30px 20px;
  float: left;
}

.dropdown-box-cont-2 {
  width: 70%;
  background: #fff;
  padding: 30px 0 30px 20px;
  float: left;
}

.dropdown-row {
  width: 100%;
}

.dropdown-row:nth-child(1n+2) {
  margin: 40px 0 0 0;
}

.dropdown-row .dropdown-box {
  float: left;
  width: 50%;
}

.dropdown-box-cont-1 .dropdown-box:nth-child(1n+2){
  margin: 40px 0 0 0;
}

.dropdown-box i {
  color: #fe775a;
}

.dropdown-box div:nth-child(1n+2){
  margin: 15px 0 0 0;
}

.dropdown-title {
  font-size: 1.3em;
}

.dropdown-text {
  width: 100%;
  padding: 0 24% 0 0;
}

.dropdown-text a {
  color: #0091ae;
}

.dropdown-text a:hover {
  text-decoration: underline;
}

.dropdown-box-cont-2 .dropdown-text {
  padding: 0 5% 0 0;
}

.dropdown-title-inline {
  display: inline-block;
}

.dropdown-title-inline h4 {
  display: inline;
}

.new {
  display: inline-block;
  vertical-align: top;
  padding: 1px 10px;
  background: #00bda5;
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 5px;
}

/* help button */
.help-button {
  border-radius: 50%;
  padding: 10px;
  background: #425b76;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 15;
}

.help-button:hover {
  box-shadow: 0 0 20px #aaa;
}

.help-button i {
  font-size: 2.5em;
}
