* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f9fd;
  color: #33475b;
  font-family: sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #33475b;
}

p {
  line-height: 1.8;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.page-padding {
  padding: 0 15%;
}

.page-button {
  display: inline-block;
  color: #fff;
  background: #fe775a;
  padding: 20px 30px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* intestazione */
/*bottoniera superiore*/
.button-header {
  width: 100%;
  border-bottom: 2px solid #98a4ad;
  padding: 20px 15%;
}

.leng-contact {
  width: 30%;
  line-height: 200%;
  float: left;
}

.leng {
  float: left;
  border-right: 1px solid #000;
  cursor: pointer;
}

.leng i:last-child {
  margin: 0 15px 0 0;
}

.contact {
  float: left;
  margin: 0 0 0 15px;
}

.button-search .page-button {
  float: right;
  padding: 7px 10px;
  border: 1px solid #fe775a;
}

.login-button {
  color: #fe775a;
  background: #fff;
  margin: 0 20px;
}

.search-cont {
  padding: 7px 10px;
  float: right;
  cursor: pointer;
}

.search-cont .fa-search {
  color: #aaa;
  vertical-align: middle;
}

/* menu di navigazione */
nav {
  width: 100%;
  padding: 20px 15%;
  background: #fff;
}

.nav-menu {
  float: right;
  line-height: 200%;
}

.nav-menu ul li {
  margin: 0 15px 0 0;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.nav-menu ul li:last-child {
  margin: 0;
}

.nav-menu ul li i {
  margin: 0 5px;
}

/* corpo principale */
.jumbo {
  width: 100%;
  background: #fdf3ee;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: 100%;
  height: 635px;
}

.jumbo-box {
  width: 35%;
  position: absolute;
  top: 10%;
  left: 15%;
  /*debug*/
  height: 200px;
}

.jumbo-box .jumbo-button {
  margin: 50px 0 0 0;
}

.jumbo-title {
  font-size: 3.2em;
  font-weight: bold;
}

.jumbo-subtitle {
  margin: 30px 0 0 0;
}

.end-text {
  margin: 50px 0 0 0;
  font-size: 0.9em;
}

.jumbo-bottom {
  width: 100%;
  height: 80px;
  background: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* mid-up-section */
.mid-up {
  width: 100%;
  margin: 50px 0 0 0;
}

.mid-up-img-cont {
  width: 30%;
  height: 170px;
  margin: 0 auto;
  background-image: url(../img/cube.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.mid-up-title {
  text-align: center;
  font-size: 2.1em;
  font-weight: bold;
}

.mid-up-text {
  width: 80%;
  margin: 25px auto 0 auto;
  text-align: center;
}

.crm-details-cont {
  width: 100%;
  margin: 50px 0 0 0;
  padding: 6% 9% 6% 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  /*debug*/
}

.crm-box-1 {
  width: 35%;
  padding: 0 10%;
  float: left;
}

.crm-img-cont {
  width: 100%;
  height: 90px;
  background-image: url(../img/book.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.crm-button {
text-align: center;
margin: 20px auto 0 auto;
}

.crm-box-2 {
  width: 60%;
  float: left;
}

.crm-title {
  font-size: 1.6em;
  font-weight: bold;
}

.crm-text {
  margin: 20px 0 0 0;
}

.crm-subtitle {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.bar {
  width: 60%;
  padding: 0.7px;
  margin: 0 0 0 50px;
  display: inline-block;
  vertical-align: middle;
  background: #899397;
}

.crm-list {
  margin: 20px 0 0 0;
}

.crm-list ul li {
  display: inline;
  margin: 0 20px 0 0;
}

.crm-list ul li i {
  color: #fe775a;
  margin: 0 10px 0 0;
}




.box-cont {
  width: 100%;
  margin: 30px 0 0 0;
  /* debug */
  background: green;
}

.content-box {
  width: 30%;
  float: left;
  /* debug */
  height: 400px;
  background: black;
}

.box-cont .content-box:nth-child(2) {
  margin: 0 5%;
}

.statistics-cont {
  width: 100%;
  padding: 0 10%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.statistics-text {
  width: 100%;
  /* debug */
  height: 200px;
  background: blue;
}

.stats-box {
  width: 25%;
  float: left;
  /* debug */
  height: 150px;
}

.stats-cont-1 .stats-box {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.stats-cont-1 .stats-box:last-child {
  border-right: none;
}

.stats-cont-2 .stats-box {
  border-right: 1px solid #fff;
}

.stats-cont-2 .stats-box:last-child {
  border-right: none;
}

.partner-cont {
  width: 100%;
  /*debug*/
  height: 300px;
  background: yellow;
}

.partner-text {
  width: 50%;
  float: left;
  /*debug*/
  height: 300px;
  background: blue;
  border: 3px solid black;
}

.partner-logo-cont, .partner-image-cont {
  width: 50%;
  float: left;
  /*debug*/
  height: 300px;
  background: red;
  border: 3px solid black;
}

/* footer */
footer {
  padding: 30px 10%;
  background: #32495b;
}

.footer-item {
  width: 20%;
  margin: 0 5% 0 0;
  float: left;
  /*debug*/
  height: 200px;
  background: yellow;
}

.footer-leng {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #fff;
  position: relative;
}

.leng-text-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leng-cont {
  color: #fff;
  margin-right: 10px;
  float: left;
}

.leng-cont:last-child {
  margin-right: 0;
}
